{% extends 'baseapp/base.html' %}

{% load static %}
{% block content  %}


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg d-flex justify-content-center">
    <div class="container">

      <div class="section-title">
        <h2>Certifications</h2>
      </div>

      <div class="row portfolio-container justify-content-center align-content-center" data-aos="fade-up" data-aos-delay="100">
        {% for certificate in page_obj %}

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{certificate.image.url}}" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="{{certificate.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="#" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          <a href="#" title="More Details"><strong class="d-flex justify-content-center mt-3">{{certificate.title}}</strong></a>
          <hr>
        </div>
        {% endfor %}

      </div>

      <ul class="pagination justify-content-center" style="margin:20px 0">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}


        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
      </ul>

    </div>
  </section><!-- End Portfolio Section -->

{% endblock content %}

    

    
