{% extends 'baseapp/base.html' %}

{% load static %}
{% block content  %}
    
 
<div class="container">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Project Details</h2>
        <ol>
          <li><a href="{% url 'portfolio' %}" class="btn btn-sm btn-danger">Back to Projects</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->

  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">
        <h2><strong>{{portfolio.title}}</strong></h2>
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            {% for shot in portfolio.caption_set.all %}
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="{{shot.image.url}}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{{shot.image.url}}" alt="">
              </div>
            </div>
            {% endfor %}
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project Information</h3>
            <ul>
              <li><strong>Tools/Tech Stack</strong>: {{portfolio.tech_stack}}</li>
              <li><strong>Status</strong>: {{portfolio.status}}</li>
              <li><strong>Deployment/Hosting</strong>: {{portfolio.deployment}}</li>
              <li><strong>Project URL</strong>: <a href="{{portfolio.portfolio_url}}" target="_blank">{{portfolio.portfolio_url}}</a></li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Description</h2>
            <p>
              {{portfolio.portfolio_description|linebreaks}}
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</div>

{% endblock content  %}
    
